
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
       <style>
           .centered {
                background-color:black;
                height:100%;
                width:70%;
                position:relative;
                /* bring your own prefixes */
                transform: translate(-50%, -50%);
           }
       </style>
</head>
<body>
    <center>
        <div class="centered">

        </div>
    </center>
</body>
</html>
