
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <style>
        body {
            background-image: url(App_Data/Images/artsharpbackgroundimage.jpg);
        }
    </style>
</head>
<body>
    <div> 
    </div>
</body>
</html>
