@{
    ViewBag.Title = "Coming Soon";
    Layout = null;
}

<script src="@Scripts.Render("~/Scripts/angular.min.js")"></script>
<script src="@Scripts.Render("//code.angularjs.org/1.4.6/angular-route.min.js")"></script>
<script src="@Scripts.Render("~/Scripts/singlePageApplications.js")"></script>

<style>
    img {
        height:90%;
        vertical-align:middle;
    }
</style>

<center>
    <img class="image" src="@Url.Content("~/Content/Images/cs5.jpg")" />
</center>

<div ng-controller="mainController"></div>