@{
    Layout = null;
}

@Scripts.Render("~/Scripts/angular.min.js")
@Scripts.Render("//code.angularjs.org/1.4.6/angular-route.min.js")
@Scripts.Render("~/Scripts/singlePageApplications.js")
<title>Coming Soon</title>

<style>
    img {
        height: 90%;
        vertical-align: middle;
    }
</style>

<center>
    <img class="image" src="@Url.Content("~/Content/Images/cs5.jpg")" />
</center>

<div ng-controller="mainController"></div>
